

<ion-content [fullscreen]="true">
  <div class="form-container">
    <ion-text color="primary" class="ion-text-center">
      <h1>Cerca Driver App</h1>
    </ion-text>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-input fill="outline" label="Email" labelPlacement="stacked" required formControlName="email" type="text"></ion-input>
      <br>
        <ion-input fill="outline" label="Password" labelPlacement="stacked" required formControlName="password" type="text"></ion-input>
      <br>
      <ion-button mode="ios" expand="block" color="primary" type="submit" [disabled]="form.invalid">
        Login
      </ion-button>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="register()" expand="block" mode="ios" color="primary" fill="clear">
      <ion-icon slot="end" name="person"></ion-icon>
      New User? Register Here
    </ion-button>
    </ion-toolbar>
</ion-footer>
