<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item button routerLink="/profile" detail>
    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
    <ion-label>View Profile
      <p>Edit your profile details</p>
    </ion-label>
  </ion-item>
  <ion-item button routerLink="/history" detail>
    <ion-icon slot="start" name="time-outline"></ion-icon>
    <ion-label>Previous Rides
      <p>View your previous rides history</p>
    </ion-label>
  </ion-item>
  <ion-item button routerLink="/logout" detail>
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    <ion-label>Logout
      <p>Sign out of your account</p>
    </ion-label>
  </ion-item>
</ion-list>
 
</ion-content>
